* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-size: 62.5%;
}
body{
   font-family: 'Inter', sans-serif;
   // font-family: 'Lexend Deca', sans-serif;
   background-color: $main-background;
}

.container{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}